### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [20]:
#get unique players
total_players = purchase_data["SN"].unique()
#set up a dictionary
playerDict = [{"Total Players":len(total_players)}]
#set up a pandas Data Frame
total_players_df = pd.DataFrame(playerDict)
total_players_df

   Total Players
0            576

## Player Count

* Display the total number of players

   Total Players
0            576

In [31]:
# purchase_data.columns
# 'Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'

# Basic calculatinos to obtain 
#  number of unique items
#  average price
#  Number of Purchases
#  Total Revenue

unique_items  = len(purchase_data["Item ID"].unique())
average_price = purchase_data["Price"].mean()
num_purchases = len(purchase_data["Purchase ID"].unique())
total_revenue = purchase_data["Price"].sum()

# unique_items
# average_price
# num_purchases
# total_revenue

summaryDict= [
    {"Number of Unique Items":unique_items ,
     "Average Price":average_price,
     "Number of Purchases":num_purchases,
     "Total Revenue":total_revenue
    }
]
summary_df = pd.DataFrame(summaryDict)
summary_df.round(2)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     183         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [175]:
# count the unique number of male, female, other/non-disclosed
# If we simply total all male/female/other/non-disclosed then
# some players are counted more than once if they made multiple purchases

# drop unique duplicates and rename the 'SN' column to 'Total Count'
unique_df = purchase_data[['SN','Gender']].drop_duplicates()
unique_df = unique_df.rename(columns={'SN': 'Total Count'})

# Group the column by Gender 
gender_df = unique_df.groupby("Gender")
summ_df = gender_df.count().sort_values("Total Count", ascending = False)

summ_df["Percentage of Players"] = (gender_df.count()/gender_df.count().sum()) * 100


# Format the results to give the dat cleaner formatting 
print_summ_df = summ_df.style.format({
    'Percentage of Players': '{:,.2f}%'.format,
})

#  Display the summary data frame
print_summ_df


## Purchasing Analysis (Gender)

In [231]:
# Group the data by gender
gender_df = purchase_data.groupby("Gender")

#create a new dictionary with the necessary values
d = {'Purchase ID': gender_df["Purchase ID"].count(), 
     'Average Purchase Price': gender_df["Price"].mean(),
       'Total Purchase Value': gender_df["Price"].sum(),
       'Avg Total Purchase per Person': gender_df["Price"].sum()/summ_df["Total Count"],
    }
#create a new summaery data frame from the dictionary
df = pd.DataFrame(data=d)

# Give the displayed data cleaner formatting
# format the currency values to 2 decimal places and preceed with athe dollar sign
format_dict = {'Average Purchase Price': '${:,.2f}', 'Total Purchase Value': '${:,.2f}','Avg Total Purchase per Person': '${:,.2f}'}
print_df = df.style.format(format_dict)
# display the summary data frame
print_df

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [304]:
upd_df = purchase_data[['SN','Gender', 'Age']].drop_duplicates()
print(len(upd_df))
upd_df

ages_df['ages_bins'] =pd.cut(x=upd_df['Age'], bins=[0, 9, 14, 19, 24, 29, 34, 39, 1000000],
                             labels=['<10', '10-14', '15-19', '20-24', '25-29', '30-34','35-39', '40+'])

grouped_bins = ages_df.groupby(['ages_bins'])
grouped_bins['Age'].count()/len(upd_df)

ab_d = {'Total Count': grouped_bins['Age'].count(), 
     'Percentage of Players': (grouped_bins['Age'].count()/len(upd_df)) * 100,
    }
#create a new summary data frame from the dictionary
abdf = pd.DataFrame(data=ab_d)

agebin_format_dict = {'Total Count': '${:,.2f}', 'Percentage of Players': '{:,.2f}%'}
agebin_print_df = abdf.style.format(agebin_format_dict)
agebin_print_df

576

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [314]:
# Bin the purchase_data data frame by age
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame
# 'Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'

ages_df['ages_bins'] =pd.cut(x=purchase_data['Age'], bins=[0, 9, 14, 19, 24, 29, 34, 39, 1000000],
                             labels=['<10', '10-14', '15-19', '20-24', '25-29', '30-34','35-39', '40+'])

agrouped_bins = ages_df.groupby(['ages_bins'])

ab_df = {'Purchase Count': agrouped_bins['Purchase ID'].count(), 
         'Average Purchase Price': agrouped_bins['Price'].mean() ,
         'Total Purchase Value': agrouped_bins['Price'].sum(),
         'Avg Total Purchase per Person':agrouped_bins['Price'].sum()/grouped_bins['Age'].count()
    }
#create a new summary data frame from the dictionary
pa_df = pd.DataFrame(data=ab_df)

pa_agebin_format_dict = {'Average Purchase Price': '${:,.2f}', 
                         'Total Purchase Value': '${:,.2f}',
                         'Avg Total Purchase per Person': '${:,.2f}'}
pa_agebin_print_df = pa_df.style.format(pa_agebin_format_dict)
pa_agebin_print_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [372]:
# Group the data by gender
ts_df = purchase_data.groupby("SN")

#create a new dictionary with the necessary values
tsd = {'Purchase Count': ts_df["Purchase ID"].count(), 
     'Average Purchase Price': ts_df["Price"].mean(),
       'Total Purchase Value': ts_df["Price"].sum(),
    }

#create a new summary data frame from the dictionary
tsdf = pd.DataFrame(data=tsd)
sorted_ts = tsdf.sort_values(['Total Purchase Value'], ascending = False).head(5)


ts_format_dict = {'Purchase Count': '{:,.0f}', 
                'Average Purchase Price': '${:,.2f}',
                'Total Purchase Value': '${:,.2f}'}
ts_print_df = sorted_ts.style.format(ts_format_dict)
ts_print_df

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [393]:
# 'Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'


pi_df = purchase_data[['Item ID', 'Item Name', 'Price']]
pi_df_grouped = pi_df.groupby(['Item ID', 'Item Name'])

#create a new dictionary with the necessary values
pi_d = {'Purchase Count': pi_df_grouped["Item ID"].count(), 
        'Item Price': pi_df_grouped["Price"].mean(),
       'Total Purchase Value': pi_df_grouped["Price"].sum(),
    }

#create a new summary data frame from the dictionary
pi_df = pd.DataFrame(data=pi_d)
sorted_pi = pi_df.sort_values(['Purchase Count'], ascending = False).head(5)


pi_format_dict = {'Purchase Count': '{:,.0f}', 
                'Item Price': '${:,.2f}',
                'Total Purchase Value': '${:,.2f}'}
pi_print_df = sorted_pi.style.format(pi_format_dict)
pi_print_df

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
sorted_pi2 = pi_df.sort_values(['Total Purchase Value'], ascending = False).head(5)
pi_print_df2 = sorted_pi2.style.format(pi_format_dict)
pi_print_df2

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80

In [394]:
sorted_pi2 = pi_df.sort_values(['Total Purchase Value'], ascending = False).head(5)
pi_print_df2 = sorted_pi2.style.format(pi_format_dict)
pi_print_df2